In [17]:
from google.colab import drive 
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [18]:
cd drive//My\ Drive//HDFC

/content/drive/My Drive/HDFC

In [19]:
ls

Sample_submission.csv  submission_xg1.csv  Train.csv
submission_rf.csv      Test.csv

In [20]:
#Importing the dataset
import pandas as pd
train=pd.read_csv("Train.csv")
train.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [21]:
#Importing thr test dataset
test=pd.read_csv("Test.csv")
test.head(2)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Col1          Col3         Col4  ...  Col2395  Col2396  Col2397
0  RIGD58ZWD  8.167140e+04    86145.420  ...     41.0     41.0     36.0
1  RIH660YDS -1.362824e+07 -4493042.782  ...    154.0    153.0     86.0

[2 rows x 2394 columns]

In [0]:
col_train = [col  for col, dt in train.dtypes.items() if dt == object]
col_test = [col  for col, dt in test.dtypes.items() if dt == object]

In [0]:
print (col_train)
print (col_test)

['Col1', 'Col747', 'Col836']
['Col1', 'Col702', 'Col733', 'Col742', 'Col754', 'Col763', 'Col791', 'Col813', 'Col822', 'Col831', 'Col843', 'Col852']

In [23]:
final_col = list(set(col_test+col_train))
final_col

['Col763',
 'Col1',
 'Col852',
 'Col747',
 'Col733',
 'Col831',
 'Col836',
 'Col791',
 'Col754',
 'Col843',
 'Col702',
 'Col822',
 'Col742',
 'Col813']

In [0]:
train = train.drop(final_col, axis=1)
test = test.drop(final_col, axis=1)

In [0]:
train1=train.fillna(train.mean())
test1=test.fillna(test.mean())

In [26]:
print (train1.shape)
print (test1.shape)
train1.head(1)

(17521, 2381)
(20442, 2380)

   Col2      Col3      Col4         Col5  ...  Col2394  Col2395  Col2396  Col2397
0     1  10867.11  8648.345  15766.17909  ...     68.0     22.0     22.0      7.0

[1 rows x 2381 columns]

In [27]:
print (test1.shape)
test1.head(2)

(20442, 2380)

           Col3         Col4          Col5  ...  Col2395  Col2396  Col2397
0  8.167140e+04    86145.420  7.532296e+04  ...     41.0     41.0     36.0
1 -1.362824e+07 -4493042.782 -3.777257e+06  ...    154.0    153.0     86.0

[2 rows x 2380 columns]

In [28]:
max(train1.isnull().sum())

0

In [29]:
train1['Col2'].value_counts()

0    15760
1     1761
Name: Col2, dtype: int64

In [30]:
##Upscaling the class '1'
val1=train1[train1['Col2']==1]
val0=train1[train1['Col2']==0]
val=pd.concat([val1,val1,val1]*3,axis=0)
print (val.shape)
val.head(2)

(15849, 2381)

    Col2       Col3         Col4  ...  Col2395  Col2396  Col2397
0      1   10867.11    8648.3450  ...     22.0     22.0      7.0
40     1  121155.36  126414.3033  ...      8.0      6.0      1.0

[2 rows x 2381 columns]

In [31]:
val=val.sample(15760)
print (val.shape)
val['Col2'].value_counts()

(15760, 2381)

1    15760
Name: Col2, dtype: int64

In [34]:
train2=pd.concat([val0,val],axis=0)
train2.shape
from sklearn.utils import shuffle
df = shuffle(train2)
df.shape

(31520, 2381)

In [36]:
##Upscaling the lower class
df['Col2'].value_counts()
#val0=val0.sample(2000)

1    15760
0    15760
Name: Col2, dtype: int64

In [0]:
#Splitting the dataset into dependent and Independent dataset.
X=df.iloc[:,train2.columns!='Col2']
Y=df['Col2']

In [37]:
df['Col2'].value_counts()

1    15760
0    15760
Name: Col2, dtype: int64

In [0]:
## Normalizing the dataset(Train,Test)
from sklearn.preprocessing import StandardScaler,Normalizer
sc=Normalizer()
sc1=Normalizer()
new_mod=sc.fit_transform(X)
new_mod=pd.DataFrame(new_mod,columns=X.columns)

new_test=sc1.fit_transform(test1)
new_test=pd.DataFrame(new_test,columns=test1.columns)

In [41]:
new_mod.head(1)

       Col3      Col4      Col5  ...   Col2395   Col2396   Col2397
0  0.112809  0.063949  0.067509  ...  0.000192  0.000169  0.000079

[1 rows x 2380 columns]

In [42]:
new_test.head(1)

       Col3      Col4      Col5  ...   Col2395   Col2396   Col2397
0  0.011107  0.011716  0.010244  ...  0.000006  0.000006  0.000005

[1 rows x 2380 columns]

In [45]:
## Spliting the dataset into test train
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(new_mod,Y,test_size=0.25)
#x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25)
print (x_train.shape)
print (y_train.shape)
print (x_test.shape)
y_test.shape

(23640, 2380)
(23640,)
(7880, 2380)

(7880,)

In [43]:
Y.value_counts() ## Feature Y in not balanced, thus using SMOTE

1    15760
0    15760
Name: Col2, dtype: int64

In [0]:
## Used Smote for synthesize the new data entry to balance the class (Note:  Currently we have upscaled the lower class.)

# from imblearn.over_sampling import SMOTE
# sm = SMOTE(random_state=2)
# x_train_res, y_train_res = sm.fit_sample(x_train, y_train)
# print (sum(y_train_res==0))
# print (sum(y_train_res==1))
# sum(y_train==1)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

11821
11821

1319

In [0]:
# x_train_res1=pd.DataFrame(x_train_res,columns=x_train.columns)
# #y_train_res1=pd.DataFrame(y_train_res,columns="Col2")
# x_train_res1.shape

(23642, 2380)

In [46]:
x_test.shape

(7880, 2380)

In [0]:
# x_train_res1=pd.DataFrame(x_train_res,columns=x_train.columns)
# #y_train_res1=pd.DataFrame(y_train_res,columns="Col2")
# x_train_res1.head()

In [0]:
x_test.head(3)

           Col3      Col4      Col5  ...   Col2395   Col2396   Col2397
28028  0.021764  0.021873  0.019139  ...  0.000038  0.000036  0.000019
2988   0.015029  0.012560  0.011304  ...  0.000030  0.000026  0.000017
21884  0.069643  0.090858  0.078457  ...  0.000080  0.000074  0.000034

[3 rows x 2380 columns]

In [0]:
## Reducing the dataset, used Truncated Technique

# from sklearn.decomposition import TruncatedSVD
# svd = TruncatedSVD(n_components=1000)
# desc1 = svd.fit_transform(x_train_res1)
# desc2 = svd.fit_transform(x_test)

# desc1 = pd.DataFrame(desc1,columns=['nlp_1_{}'.format(i) for i in range(1000)])
# desc2 = pd.DataFrame(desc2,columns=['nlp_1_{}'.format(i) for i in range(1000)])
# desc2.head()

In [0]:
from sklearn.metrics import accuracy_score,f1_score

In [48]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
#dt.fit(x_train_res1,y_train_res)
dt.fit(x_train,y_train)
pred=dt.predict(x_test)
print("acc:",accuracy_score(y_test,pred))
print("f1score:",f1_score(y_test,pred,average='weighted'))

acc: 0.9092639593908629
f1score: 0.908551369613084

In [49]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400, max_depth=2, random_state=0)
#rf.fit(x_train_res1,y_train_res)
rf.fit(x_train,y_train)
Y_pred = rf.predict(x_test)
print("acc:",accuracy_score(y_test,Y_pred))
print("f1score:",f1_score(y_test,Y_pred,average='weighted'))

acc: 0.634263959390863
f1score: 0.6273520201844014

In [0]:
## Using Deep Learning 
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.regularizers import l2
from sklearn.metrics import accuracy_score,f1_score
import keras.backend as K
import tensorflow as tf

In [0]:
def f1(y_true, y_pred):
  y_pred = K.round(y_pred)
  tp = K.sum(K.cast(y_true*y_pred, 'float'), axis=0)
  tn = K.sum(K.cast((1-y_true)*(1-y_pred), 'float'), axis=0)
  fp = K.sum(K.cast((1-y_true)*y_pred, 'float'), axis=0)
  fn = K.sum(K.cast(y_true*(1-y_pred), 'float'), axis=0)
  p = tp / (tp + fp + K.epsilon())
  r = tp / (tp + fn + K.epsilon()) 
  f1 = 2*p*r / (p+r+K.epsilon())
  f1 = tf.where(tf.is_nan(f1), tf.zeros_like(f1), f1)
  return K.mean(f1)

In [0]:
model = Sequential()

#Hidden Layer-1
model.add(Dense(1000,activation='relu',input_dim=2380,kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3, noise_shape=None, seed=None))

#Hidden Layer-2
model.add(Dense(1000,activation = 'relu',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3, noise_shape=None, seed=None))

#Hidden Layer-3
model.add(Dense(1000,activation = 'relu',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3, noise_shape=None, seed=None))

model.add(Dense(1000,activation = 'relu',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.3, noise_shape=None, seed=None))

#Output layer
model.add(Dense(1,activation='sigmoid'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [0]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy', f1])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1000)              2381000
_________________________________________________________________
dropout_1 (Dropout)          (None, 1000)              0
_________________________________________________________________
dense_2 (Dense)              (None, 1000)              1001000
_________________________________________________________________
dropout_2 (Dropout)          (None, 1000)              0
_________________________________________________________________
dense_3 (Dense)              (None, 1000)              1001000
_________________________________________________________________
dropout_3 (Dropout)          (None, 1000)              0
_________________________________________________________________
dense_4 (Dense)              (None, 1000)              1001000
_________________________________________________________________
dropout_4 (Dropout)          (None, 1000)              0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 1001
=================================================================
Total params: 5,385,001
Trainable params: 5,385,001
Non-trainable params: 0
_________________________________________________________________

In [0]:
model_output = model.fit(x_train,y_train,epochs=100,batch_size=50,verbose=1,validation_data=(x_test,y_test))

In [53]:
from xgboost import XGBClassifier
xgb = XGBClassifier(learning_rate=0.1,n_estimators=500, booster='dart')
#xgb.fit(x_train_res1,y_train_res)
xgb.fit(x_train,y_train)
Y_pred = xgb.predict(x_test)
print("acc:",accuracy_score(y_test,Y_pred))
print("f1score:",f1_score(y_test,Y_pred,average='weighted'))

acc: 0.875761421319797
f1score: 0.8751761513812254

In [0]:
## Predicting the 'Col2' from xgb model
test_pred = xgb.predict(new_test)

In [55]:
test2=pd.read_csv("Test.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
submit = pd.DataFrame({"Col2":test_pred})
submit.insert(loc=0, column="Col1", value=test2["Col1"])

In [57]:
submit['Col2'].value_counts()

0    15947
1     4495
Name: Col2, dtype: int64

In [0]:
submit.to_csv('submission_xgb.csv',index=False)